@charset "utf-8";

body,
div,
h1,
header,
li,
nav,
p,
ul {
	color: #F00;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;

	margin: 0;
	padding: 0;
	vertical-align: middle;
}

a,
i,
small,
span {
	color: #F00;
	display: inline;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;

	vertical-align: middle;
}

.icone {
	font-family: 'Material Icons';
}

#conteudo p,
#conteudo h1,
#conteudo li {
	/*border: 1px solid #000;*/
}
