@charset "utf-8";

/*
Primária claro: #DCEDC8
Primária: #8BC34A
Primária escuro: #689F38

Destaque claro: #B2EBF2
Destaque: #00BCD4

Divisor: #B6B6B6
Cinza I: #F5F5F5
Cinza II: #EAEAEA
Sombra I: #DDD;
Sombra II: #BBB;

Texto primário: #212121
Texto secundário: #727272
Texto em fundo escuro: #FFF
Texto auxiliar: #B6B6B6

Alerta: #FE6363
*/

body,
dd,
div,
dl,
dt,
h1,
header,
li,
nav,
p,
ul,
thead,
tbody,
tr,
td,
th {
	color: #F00;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;

	margin: 0;
	padding: 0;
	vertical-align: middle;
}

a,
i,
small,
strong,
span {
	color: #F00;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;

	vertical-align: middle;
}

.icone {
	font-family: 'Material Icons';
}

#conteudo p,
#conteudo h1,
#conteudo li {
	/*border: 1px solid #000;*/
}
