@charset "utf-8";

/*
Transparente: #DCEDC8
Primária: #8BC34A
Forte: #689F38

Transparente: #B2EBF2
Destaque: #00BCD4

Divisor: #B6B6B6
Texto primário: #212121
Texto secundário: #727272
*/

#cabecalho #superior {
	background-color: #8BC34A;
	padding: 2em 5em;
}

#cabecalho #superior header h1 {
	color: #FFF;
	font-size: 1.8em;
}

#cabecalho #inferior {
	background-color: #689F38;
	padding: 0.6em;
	text-align: right;
}


#cabecalho #inferior span {
	color: #FFF;
	margin-right: 1em;
}

#cabecalho #inferior span small {
	color: #FFF;
}

#cabecalho #inferior a {
	color: #FFF;
	background-color: #00BCD4;
	border-radius: 1em;
	display: inline-block;
	padding: 0.3em 0.6em;
}

#conteudo .etapa {
	padding: 2em 5em;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#conteudo .etapa h1 {
	font-size: 1.4em;
	color: #212121;
}

#conteudo .etapa ul {
	list-style: none;
	margin-left: 1em;
}

#conteudo .etapa ul li {
	color: #727272;
	margin-top: 0.6em;
}

#conteudo .etapa ul li a {
	color: #FFF;
	background-color: #00BCD4;
	border-radius: 1em;
	display: inline-block;
	padding: 0.3em 0.6em;
}

#conteudo .formulario {
	padding: 2em 5em;
}

#conteudo .formulario h1 {
	font-size: 1.4em;
	color: #212121;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding-bottom: 0.1em;
}