@charset "utf-8";

/*
Transparente: #DCEDC8
Primária: #8BC34A
Forte: #689F38

Transparente: #B2EBF2
Destaque: #00BCD4

Divisor: #B6B6B6
Texto primário: #212121
Texto secundário: #727272
*/

#cabecalho .sistema {
	background-color: #8BC34A;
	padding: 0.6em 1em;
}

#cabecalho .sistema header h1 {
	color: #FFF;
	font-size: 1.6em;
}

#cabecalho .sistema header h1 i {
	color: #FFF;
	font-size: 1em;
	vertical-align: middle;
}

#cabecalho .informacoes {
	background-color: #689F38;
	padding: 0.6em 1em;
	text-align: right;
}

#cabecalho .informacoes ul {
	list-style: none;
	font-size: 0;
}

#cabecalho .informacoes ul li {
	color: #FFF;
	display: inline-block;
	margin-left: 1em;
	/*border: 1px solid #000;*/
}

#cabecalho .informacoes ul li small {
	color: #FFF;
}

#cabecalho .informacoes a {
	color: #FFF;
	background-color: #00BCD4;
	border-radius: 1em;
	display: inline-block;
	padding: 0.3em 0.6em;
}

#cabecalho .menu {
	background-color: #F5F5F5;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#cabecalho .menu ul {
	list-style: none;
	font-size: 0;
}

#cabecalho .menu ul li {
	display: inline-block;
	/*border: 1px solid #000;*/
}

#cabecalho .menu ul li a {
	padding: 0.6em 1em;
	display: inline-block;
}

#cabecalho .menu ul li a i {
	color: #727272;
}

#cabecalho .menu ul li a:hover i {
	color: #212121;
}

#conteudo .bloco {
	padding: 2em 5em;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#conteudo .bloco h1 a {
	font-size: 1.6em;
	color: #212121;
}

#conteudo .bloco h1 a:hover {
	text-decoration: underline;
}

#conteudo .bloco ul {
	list-style: none;
	margin-left: 1em;
}

#conteudo .bloco ul li {
	color: #727272;
	margin-top: 0.6em;
}

#conteudo .bloco ul li a {
	color: #FFF;
	background-color: #00BCD4;
	border-radius: 1em;
	display: inline-block;
	padding: 0.3em 0.6em;
}

#conteudo .formulario {
	padding: 2em 5em;
}

#conteudo .formulario h1 {
	font-size: 1.4em;
	color: #212121;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding-bottom: 0.1em;
}

#conteudo .etapa {
	padding: 2em 5em;
}

#conteudo .etapa h1 {
	font-size: 1.4em;
	color: #212121;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding-bottom: 0.1em;
}
