@charset "utf-8";

#cabecalho .sistema {
	background-color: #689F38;
	font-size: 0;
	text-align: right;
}

#cabecalho .sistema p {
	color: #FFF;
	display: inline-block;
	margin: 0.5em 1.5em 0.5em 0;
}

#cabecalho .sistema p small {
	color: #FFF;
	font-size: 12px;
}

#cabecalho .sistema p a.icone {
	color: #DCEDC8;
	font-size: 24px;
}

#cabecalho .sistema p a.icone:hover {
	color: #FFF;
}

#cabecalho .titulo {
	background-color: #8BC34A;
}

#cabecalho .titulo header h1 {
	color: #FFF;
	font-size: 24px;
	padding: 0.5em 1em;
}

#cabecalho .titulo header h1 i {
	color: #689F38;
	font-size: 24px;
}

#cabecalho .titulo header h1 strong {
	color: #689F38;
	font-size: 24px;
}

#cabecalho .menu {
	background-color: #F5F5F5;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#cabecalho .menu nav ul {
	list-style: none;
	font-size: 0;
}

#cabecalho .menu nav ul li {
	display: inline-block;
}

#cabecalho .menu nav ul li a.icone {
	color: #727272;
	font-size: 24px;
	display: inline-block;
	padding: 0.5em 1em;
}

#cabecalho .menu nav ul li a:hover {
	color: #212121;
	background-color: #EAEAEA;
}

#conteudo .bloco {
	padding: 2em 1.5em;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#conteudo .bloco:last-child {
	border: none;
}

#conteudo .bloco h1 {
	color: #212121;
	font-size: 22px;
}

#conteudo .bloco h1 a {
	color: #212121;
	font-size: 22px;
}

#conteudo .bloco h1 a:hover {
	text-decoration: underline;
}

#conteudo .bloco p {
	color: #727272;
	margin-top: 0.5em;
	margin-left: 1em;
}

#conteudo .bloco p a {
	background-color: #00BCD4;
	border-radius: 1em;
	color: #FFF;
	display: inline-block;
	padding: 0.5em 1em;
}

#conteudo .bloco dl dt {
	color: #B6B6B6;
	margin-top: 1.5em;
	margin-left: 1em;
}

#conteudo .bloco dl dt:after {
	content: none;
}

#conteudo .bloco dl dd {
	color: #727272;
	font-weight: bold;
	margin-top: 0.5em;
	margin-left: 1em;
}

#conteudo .bloco ul {
	list-style: none;
	margin-top: 1em;
}

#conteudo .bloco ul li {
	color: #727272;
	margin-top: 0.5em;
	margin-left: 1em;
}

#conteudo .bloco ul li a {
	color: #727272;
}

#conteudo .bloco ul li a:hover {
	text-decoration: underline;
}

#conteudo .bloco ul li a.icone.destaque {
	color: #00BCD4;
}

#conteudo .bloco ul li a.icone.alerta {
	color: #FE6363;
}

#conteudo .bloco ul li a.icone {
	color: #727272;
	display: inline-block;
	font-size: 40px;
}

#conteudo .bloco table {
	border-collapse: collapse;
	margin-top: 1.5em;
	width: 100%;
}

#conteudo .bloco table tbody td {
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#conteudo .bloco table thead tr th {
	color: #727272;
	font-weight: bold;
	padding: 1em;
	text-align: left;
}

#conteudo .bloco table thead tr th span.icone {
	background-color: #727272;
	border-radius: 1em;
	color: #FFF;
	display: inline-block;
	font-size: 24px;
	padding: 0.05em 0.2em;
	margin-left: 0.5em;
}

#conteudo .bloco table tbody tr:hover {
	background-color: #F5F5F5;
}


#conteudo .bloco table tbody tr th {
	color: #727272;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 1px 0 1px 0;
	font-weight: bold;
	padding: 1em;
	text-align: left;
}

#conteudo .bloco table tbody tr td {
	color: #727272;
	border-color: #B6B6B6;
	border-style: solid;
	border-width: 1px 0 1px 0;
	padding: 1em;
	text-align: left;
}

#conteudo .bloco table tbody tr td a {
	color: #727272;
}

#conteudo .bloco table tbody tr td a:hover {
	text-decoration: underline;
}

#conteudo .bloco table tbody tr.alerta td:last-of-type {
	color: #FE6363;
}

#conteudo .bloco table tfoot tr td {
	color: #727272;
	padding: 1em;
	text-align: left;
}

#conteudo .bloco table tfoot tr td span {
	color: #FE6363;
	font-size: 20px;
}

#conteudo .bloco form label {
	display: block;
	color: #B6B6B6;
}

#conteudo .bloco form label strong {
	color: #B6B6B6;
	font-weight: bold;
}

#conteudo .bloco form input {
	border-color: #EAEAEA;
	border-left-color: #B6B6B6;
	border-style: solid;
	border-width: 0 1px 1px 0.5em;
	color: #212121;
	padding: 0.25em 0.5em;
	font-size: 20px;
	margin: 0.25em 0 2em 0;
	box-sizing: border-box;
	width: 100%;
}

#conteudo .bloco form input:hover {
	border-color: #00BCD4;
	outline: none;
}

#conteudo .bloco form input:focus {
	border-color: #00BCD4;
	outline: none;
}

#conteudo .bloco form input[disabled] {
	background-color: #EAEAEA;
	border-color: #EAEAEA;
	border-left-color: #B6B6B6;
	color: #B6B6B6;
}

#conteudo .bloco form input[disabled]:hover {
	border-color: #EAEAEA;
	border-left-color: #B6B6B6;
}

#conteudo .bloco form button {
	border: none;
	background-color: #00BCD4;
	font-size: 20px;
	color: #FFF;
	outline: none;
	padding: 0.5em 1em;
}

#conteudo .bloco form button:hover {
	box-shadow: 0.15em 0.15em 0.3em 0 #DDD;
	outline: none;
}

#conteudo .bloco form button:active {
	box-shadow: 0.15em 0.15em 0.3em 0 #BBB;
	outline: none;
}
